doctype html
<!--[if IE 8]><html class="ie8" lang="zh-TW"><![endif]-->
<!--[if gte IE 8]><html class="gte-ie8" lang="zh-TW"><![endif]-->
<!--[if gt IE 8]><!-->
html(lang='zh-TW')
  <!--<![endif]-->
  head
    block title
      title Title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    block css
    block javascript
  body
    block content
    script(src='./js/app.js')
